$primaryColor: #4fbbec;
$secondaryColor: #ffed4aee;
$hit: #00ff40;
$miss: red;
$boxShadow: 1px 5px 1px 7px #e2ba4e;

$boxShadowSmall: 1px 3px 1px 4px #e2ba4e;

$boxShadowPress:  1px 2px 1px 2px #e2ba4e;