body {
  min-height: 100vh;
  background-image: url("wallpapers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
}

.headerContentWrap {
  padding: 20px 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #4fbbec;
  background-color: rgba(255, 237, 74, 0.9333333333);
  box-shadow: 1px 10px 1px 7px #e2ba4e;
  font-weight: bold;
  font-size: 6vw;
  text-align: center;
  border-radius: 2vw;
  list-style-type: none;
}

.headerContentWrap .main-title {
  margin: 0px;
  font-size: 50px;
}

.headerContentWrap .soundSVG {
  width: 60px;
}

.headerContentWrap:hover {
  font-size: 6vw;
  text-shadow: 0px 1px 7px rgb(255, 0, 0);
}

.headerContentWrap:active {
  box-shadow: 0 0px #666;
  transform: translateY(10px);
}

.letter-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.letter-wrap {
  width: 90%;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 50px;
}

.letter {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #4fbbec;
  background-color: rgba(255, 237, 74, 0.9333333333);
  box-shadow: 1px 10px 1px 7px #e2ba4e;
  width: 8vw;
  height: 8vw;
  font-weight: bold;
  font-size: 6vw;
  text-align: center;
  border-radius: 2vw;
  list-style-type: none;
  box-shadow: 1px 10px 1px 7px #e2ba4e;
}

.letter:hover {
  font-size: 6vw;
  text-shadow: 0px 1px 7px rgb(255, 0, 0);
}

.letter:active {
  box-shadow: 0 0px #666;
  transform: translateY(10px);
}

.hit {
  background-color: rgb(102, 255, 0);
}

.miss {
  background-color: red;
}

@media only screen and (max-width: 1440px) {
  .letter {
    width: 9vw;
    height: 9vw;
    font-size: 8vw;
    border-radius: 2vw;
  }
  .letter-wrap {
    -moz-column-gap: 4vw;
         column-gap: 4vw;
    row-gap: 4vw;
  }
  .letter:hover {
    font-size: 8.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .headerContentWrap {
    padding: 2vw 5vw;
    box-shadow: 1px 10px 1px 4px #e2ba4e;
  }
  .headerContentWrap .main-title {
    font-size: 8vw;
    align-self: center;
  }
  .headerContentWrap .soundSVG {
    width: 8vw;
  }
  .letter {
    box-shadow: 1px 10px 1px 4px #e2ba4e;
    width: 12vw;
    height: 12vw;
    font-size: 10vw;
    border-radius: 3vw;
  }
  .letter:hover {
    font-size: 11vw;
  }
  .letter-wrap {
    -moz-column-gap: 6vw;
         column-gap: 6vw;
    row-gap: 6vw;
  }
}
@media only screen and (max-width: 425px) {
  .letter {
    box-shadow: 1px 10px 1px 2px #e2ba4e;
    width: 17vw;
    height: 17vw;
    font-size: 14vw;
    border-radius: 3vw;
  }
  .letter:hover {
    font-size: 15vw;
  }
  .headerContentWrap:hover {
    font-size: 6vw;
    text-shadow: 0px 1px 5px rgb(255, 0, 0);
  }
}/*# sourceMappingURL=style.css.map */