@import './scss/body.scss';
@import './scss/header.scss';
@import './scss/letters.scss';








.hit{
    background-color: rgb(102, 255, 0);
}

.miss{
    background-color: red;
}


@media only screen and (max-width: 1440px){

    .letter{
        width: 9vw;
        height: 9vw;
        font-size: 8vw;
        border-radius: 2vw;
    }
    .letter-wrap{
        column-gap: 4vw;
        row-gap: 4vw; 
    }
    .letter:hover {
        font-size: 8.5vw;
    }

}
@media only screen and (max-width: 768px){

    .headerContentWrap {
        padding: 2vw 5vw;
        box-shadow: 1px 10px 1px 4px #e2ba4e;
    }
    .headerContentWrap .main-title{
        font-size: 8vw;
        align-self:center;
    }
    .headerContentWrap .soundSVG{
        width: 8vw;
    }

    .letter{
        box-shadow: 1px 10px 1px 4px #e2ba4e;
        width: 12vw;
        height: 12vw;
        font-size: 10vw;
        border-radius: 3vw;
    }
    .letter:hover {
        font-size: 11vw;
    }

    .letter-wrap{
        column-gap: 6vw;
        row-gap: 6vw; 
    }



}
@media only screen and (max-width: 425px){

    .letter{
        box-shadow: 1px 10px 1px 2px #e2ba4e;
        width: 17vw;
        height: 17vw;
        font-size: 14vw;
        border-radius: 3vw;
    }
    
    .letter:hover{
        font-size: 15vw;
    }
    .headerContentWrap:hover{
        font-size: 6vw;
        text-shadow: 0px 1px 5px rgb(255, 0, 0);
    }
}